<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Какой тортик съесть?</title>
</head>
<body>
    
     <div class="main">
        <div class="app" v-show="showMain">
            <div class="app__header">
                <img src="img/logo.png" class="app__logo">
            </div>
            <div class="app__body">
                <button class="app__btn" @click="goToQuestions">
                    <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                    <div class="app__btn-text">Начать</div>
                </button>
                <button class="app__btn" @click="goToAchievements">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <div class="app__btn-text">Ваши достижения</div>
                </button>
                <button class="app__btn" @click="goToSocial">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <div class="app__btn-text">Автор игры</div>
                </button>
                <button class="app__btn btn__sound" @click="goToMain">
                    <i class="fa fa-volume-up" aria-hidden="true"></i>
                    <div class="app__btn-text">Звук</div>
                </button>
            </div> 
        </div> 
        <div class="app achievements" v-show="showAchievements">
            <div class="app__body">
                <div class="app__body-inner">
                    <h2 class="app__body-title">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                        Ваши достижения
                    </h2>
                    <div class="app__body-top">
                        <div class="app__card">
                            <div class="app__card-text">Общий счет</div>
                            <div class="app__card-count">{{ totalScore }}</div>
                        </div>
                        <div class="app__card">
                            <div class="app__card-text">Открыто тортов</div>
                            <div class="app__card-count">{{ openTastes }}/7</div>
                        </div>
                        <div class="app__card">
                            <div class="app__card-text">Всего игр</div>
                            <div class="app__card-count">{{ totalGames }}</div>
                        </div>
                        <div class="app__card">
                            <div class="app__card-text">Любимый десерт</div>
                            <div class="app__card-count">{{ favoriteTaste }}</div>
                        </div>
                    </div>
                    <div class="app__body-middle">
                        <div class="app_result"
                             v-for="(taste, k) in results"
                             v-show="showResultTaste[k]"
                             @click="goToResult(k)">
                            <div class="app__result-score">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <div class="app__result-count">{{ taste.points }} за победу этого вкуса</div>
                            </div>
                            <div class="app__result-name">{{ taste.name }}</div>
                            <div class="app__result-amount">Игр: {{ totalGame[k] }}</div>
                        </div>
                    </div>
                    <div class="app__body-bottom">
                        <button class="app__btn btn__back btn_achievement" @click="goToMain">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div> 
        <div class="app" v-show="showQuestions">
            <div class="app__header">
                <div class="app__header-inner">
                    <div class="app__count">Вопрос {{ number+1 }}</div>
                    <div class="app__text">{{ questions[number][0] }}</div>
                </div>
            </div>
            <div class="app__body">
                <button class="app__btn"
                        v-for="(answer, i) in questions[number][1]"
                        v-on:click="nextQuestions(questions[number][2][i])">
                    <div class="app__btn-text">{{ answer }}</div>
                </button>
            </div>
        </div>
        <div class="app" v-show="showSocial">
            <div class="app__body">
                <a target="blank" href="https://vk.com/ifyouwantacake" class="app__btn">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                    <div class="app__btn-text">Вконтакте</div>
                </a>
                <a target="blank" href="https://www.youtube.com/@Ifyouwantacake" class="app__btn">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    <div class="app__btn-text">Youtube</div>
                </a>
                <button class="app__btn btn__back" @click="goToMain">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="app results" v-show="showResult" v-bind:data-taste="resultTaste">
            <div class="app__body">
                <div class="app__results-inner">
                    <div class="results__title">{{ results[resultTaste].name }}</div>
                <div class="results__img">
                    <img :src="'img/'+resultTaste+'_logo.png'">
                </div>
                <div class="results__text-box">
                  <p class="results__taste">{{ results[resultTaste].description }}</p>
                </div>
                <div>
                    <button :class="'app__btn btn__back btn__'+resultTaste" @click="goToAchievements">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>



    <script src="js/vue.js"></script>
    <script src="js/const.js"></script>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/@vkontakte/vk-bridge/dist/browser.min.js"></script>
      <script>
      // Подписывается на события, отправленные нативным клиентом
      bridge.subscribe((e) => console.log(e)); 
          
      // Отправляет событие нативному клиенту
      bridge.send("VKWebAppInit", {});      
          
      // Проверяет, поддерживается ли событие на текущей платформе
      if (bridge.supports("VKWebAppResizeWindow")) {
        bridge.send("VKWebAppResizeWindow", {"width": 800, "height": 1000});
      }
      bridge.send('VKWebAppGetEmail')
        .then((data) => {
         if (data.result) {
         // Обработка события в случае успеха
         console.log(data.email);
         } else {
         // Ошибка
         }
        })
        .catch((error) => {
            // Обработка события в случае ошибки
            console.log(error);
        });
      </script>
      <script src="/vkBridge.js"></script>
      <script>vkBridge.send('VKWebAppInit');</script>
</body>
</html>